.tecnologias {
  font-family: serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  background-color: black;
  align-items: flex-start; /* Alinea los contenedores en la parte superior */
}

.container {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border-radius: 3px;
  margin: 10px;
  margin-top: 8%;
  overflow: auto;
}
.container::-webkit-scrollbar {
  width: 12px; 
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 6px; 
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Color del track (la parte no deslizante) */
}


.title {
  margin-top: 10px; /* Ajusta el margen superior */
  margin-bottom: 10%; /* Ajusta el margen inferior */
  text-align: center; /* Centra el texto horizontalmente */
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.iconContainer li{
  margin-bottom: 10%;
  list-style-type: square;
}

.itemjs {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(238, 255, 0);
}

.itemcss {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(0, 187, 255);
}
.itemhtml {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(255, 115, 0);
}
.itemrc {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(0, 145, 255);
}

.itemrd {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(179, 0, 255);
}

.itemsq {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(0, 64, 255);
}
.itemps {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(0, 136, 255);
}
.itemex {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(255, 255, 255);
}
.itemts {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(0, 145, 255);
}
.itemdk {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(0, 157, 248);
}
.itemdb {
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(0, 255, 42);
}

.itemnext{
  margin: 20px; /* Espacio entre los íconos */
  font-size: 60px; /* Tamaño de los iconos */
  color: rgb(255, 255, 255);
}

